bin/
obj/
.vs/
.vscode/
Logs/
publish/
offline.db
licenca.json
config.enc
*.user
*.nupkg

appsettings.Development.json
appsettings.Local.json
appsettings.*.user.json

google-credentials.json
*-credentials.json
*.pem
*.key

config_recibo.json

*.userprefs
secrets.json
ERP.WPF/appsettings.json
ERP.WPF/appsettings.*.json